aioredis==2.0.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==23.1.0
autobahn==23.1.2
Automat==22.10.0
certifi==2024.7.4
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
chardet==5.2.0
constantly==15.1.0
cryptography==42.0.4
daphne==4.0.0
Django==3.2.25
flake8==3.9.2
hiredis==2.2.3
hyperlink==21.0.0
idna==3.7
importlib-metadata==8.0.0
incremental==22.10.0
mccabe==0.6.1
msgpack==1.0.5
pycodestyle==2.7.0
pycparser==2.21
pyflakes==2.3.1
PyHamcrest==2.0.4
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
Twisted==23.8.0
txaio==23.1.1
urllib3==2.0.7
zipp==3.15.0
zope.interface==6.0
